<a href="https://colab.research.google.com/github/estoilkov/Coursera_Capstone/blob/master/Capstone_Coursera_Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <center> Capstone Project - Part 1  </center>

###  Introduction/Business Problem
 
<p>
This project will try to compare a group of some of the best known world cities that are considered to be the most promissing tech hubs of the future.The choice of category of cities is not so important for the methodology, but this may help in identifying stronger relations when working with a relatively homogenous group. Experiments with other groups will indeed help find the best approach.</p>
 
<p>The comparision will run across two completely different datasets for all of the cities chosen and will try to identify if the different feature sets may lead to similar cities clusters. K-means will be used to analyse data.</p>
 
<p>This approach may be of interest for a number of reasons. On the one side we may discover that somehow a group of features correlates with a completely different other group of features if  final city clusters overlap. On the other side we may use this approach for feature selection to use later with supervised machine learning.</p>
 
<p>If we discover a strong relation between the two groups of features we may analyse other possible practical applications when comparing cities within a cluster. For example, if we identify typical features within some clusters, business opportunities may become obvious in cities with strong outliers as compared to other cities of the same cluster. </p>

### Data for the analysis
 
#### Citites for the analysis: 
<p>New York, London, 
Beijing, Boston, Tel Aviv, Los Angeles, Shanghai, Paris, Berlin, Stockholm, Seattle, Toronto-Waterloo, Singapore, Amsterdam, Austin, Chicago, Bangalore, Washington, San Diego, Lausanne, Bern, Geneva, Sydney, Vancouver, Hong Kong, Atlanta, Barcelona, Dublin,Miami, Munich </p>
<p>
The first group of features will come fron Foursquare API data run for all of the cities. <br/>
We will try to identify the best second group of features with a trial and error approach. A large initial selection of features will be used including general population, economy, development statistics,, as well s some indicators related to innovation and startup  culture.
</p>
 
<ul>Data used
<li>City density</li>
<li>GDP per capita</li>
<li>Employment</li>
<li>Environment</li>
<li>Transportation</li>
<li>Education</li>
<li>Health</li>
<li>Best cities ranking</li>
<li>Cost of living statistics</li>
<li>Various indices around ecosystems performance,  funding,  market reach, connectedness,...</li>
 
</ul>
 
<p>Final data chosen will depend on availability for all cities analysed.</p>
 
<p>Data sources are OECD, UBS, EIU, Mercer, AT Kearney, ...</p>

<p> Below is an example of data used for tech hub cities is
Global Startup Ecosystem Report 2019 by Startup Genome </p>

In [93]:
df.head()

       city  ranking  change  ...  experience  knowledge  growthIndex
0  New York        2       0  ...           1          2            6
1    London        3       0  ...           2          1            6
2   Beijing        4       1  ...           1          1            4
3    Boston        5       0  ...           1          2            7
4  Tel Aviv        6       0  ...           2          1            6

[5 rows x 11 columns]